.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

.form-padding > * {
  margin-bottom: 5px;
}

.margin-bottom-small {
  margin-bottom: 5px;
}

.margin-bottom-med {
  margin-bottom: 10px;
}

.margin-sides-small {
  margin-right: 5px;
  margin-left: 5px;
}

.no-margin {
  margin: 0px;
}

.primary {
  background-color: #337ab7;
  border-color: #337ab7;
}

div.bootstrap-datetimepicker-widget {
  font-size: 9px !important;
  bottom: auto !important;
  position: fixed !important;
  left: auto !important;
  top: 145px !important;
  right: auto !important;
  padding-top: 0px !important;
  margin-top: 0px !important;
  z-index: 1001 !important;
}

td.day {
  cursor: pointer !important;
<<<<<<< HEAD
}

body {
  background-image: url("/nature-hd-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

html, body, div#container, div#container:first-child > div, div#container:first-child > div > div, .rbc-calendar {
  height: 97%;
}

.rbc-btn-group {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
}

.rbc-btn-group button {
  color: white;
}

body {
  background-image: url("/nature-hd-bg.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
  padding: 0;
  padding-top: 30px;
}

.rbc-btn-group {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.7);
}

.rbc-btn-group button {
  color: white;
}

.rbc-toolbar button.rbc-active {
  color: black;
}

.rbc-calendar, .dates {
  margin-top: 40px;
}

.rbc-month-view, .rbc-time-view, .rbc-agenda-view, .navbar, .dates {
  background: rgba(0, 0, 0, 0.7);
  color: white;
}

.rbc-toolbar-label {
  color: #fff;
  font-size: 30px;
  text-shadow: #fff 0 -1px 4px, #ff0 0 -2px 10px, #ff8000 0 -10px 20px, red 0 -18px 40px;
}