.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.center {
  margin: auto;
}

.center-text {
  text-align: center;
}

.form-padding > * {
  margin-bottom: 5px;
}

.margin-bottom-small {
  margin-bottom: 5px;
}

.margin-sides-small {
  margin-right: 5px;
  margin-left: 5px;
}

.no-margin {
  margin: 0px;
}

.primary {
  background-color: #337ab7;
  border-color: #337ab7;
}

div.bootstrap-datetimepicker-widget {
  font-size: 9px;
  bottom: auto;
  position: fixed;
  left: auto;
  top: 145px;
  right: auto;
  padding-top: 0px;
  margin-top: 0px;
  z-index: 1001;
}

td.day {
  cursor: pointer;
}
